<!-- Right Sidebar -->
<div class="col-md-3 col-lg-2 sidebar" style="background-color: #87CEEB; max-height: 80vh; overflow-y: auto;">
    <h2 class="text-center mb-4">Menu</h2>
    <a href="/home">Home</a>
    <a href="/login">Login & Register</a>
    <a href="/userTable">User Table</a>
    <a href="/banner">Banner</a>
    <a href="/popularproducts">Popular Products</a>
    <a href="/superflashsale">Super Flash Sale</a>
    <a href="/flashsale">Flash Sale</a>
    <a href="newarrival">New Arrival</a>
    <a href="/bestsaller">Best Seller</a>
    <a href="/mostpopulersaller">Most Popular</a>
    <a href="/blackfriday">Black Friday</a>
</div>